*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#container{
    width: 800px;
    height: 600px;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
}

#container-left, #container-right{
    flex: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#animation{
    width: 100%;
}

